

.blog{
    --primary-color: #ffb6c1;
  --secondary-color: #98fb98;
  --text-color: #333;
  --background-color: #fff;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  padding: 2svh 3svh;
  z-index: 10;
}

nav.navigation {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

nav.navigation a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

nav.navigation a:hover {
  color: var(--primary-color);
}

.postList {
  grid-row-start: 2;
}
